In [1]:
import pandas as pd
import csv
import numpy as np

In [2]:
df = pd.read_csv("./app/src/main/resources/keystrokes.csv")
df = df[(df.EventType == "File.Edit")]
df["Key"] = df.SubjectID + "_" + df.AssignmentID + "_" + df.CodeStateSection
df = df[["Key", "EditType", "SourceLocation", "InsertText", "DeleteText", "ClientTimestamp"]]
df = df.replace(np.nan, "NaN")
df

,Key,EditType,SourceLocation,InsertText,DeleteText,ClientTimestamp
0,Student1_Assign10_task1.py,Insert,0.0,# @@@@@@@@@@@@@\n# CS1400 - MW1\n# Assignment ??,NaN,1636696834375
1,Student1_Assign10_task1.py,Insert,46.0,\n,NaN,1636696835921
3,Student1_Assign10_task1.py,Insert,47.0,\n,NaN,1636696839138
6,Student1_Assign10_task1.py,Insert,48.0,from modules.wordinator import Wordinator\ndef...,NaN,1636696840750
8,Student1_Assign10_task1.py,Insert,2820.0,\n,NaN,1636696848989
...,...,...,...,...,...,...
2088851,Student9_Assign9_test.py,Insert,243.0,F,NaN,1636155787631
2088853,Student9_Assign9_test.py,Insert,244.0,a,NaN,1636155787737
2088855,Student9_Assign9_test.py,Insert,245.0,l,NaN,1636155787941
2088857,Student9_Assign9_test.py,Insert,246.0,s,NaN,1636155788077
2088859,Student9_Assign9_test.py,Insert,247.0,e,NaN,1636155788223

In [3]:
df.groupby("Key").count().sort_values(by="EditType", ascending=False).head(50).mean()

EditType           5480.62
SourceLocation     5480.62
InsertText         5480.62
DeleteText         5480.62
ClientTimestamp    5480.62
dtype: float64

In [4]:
to_drop = df[(df.EditType == "NaN")]
to_drop

,Key,EditType,SourceLocation,InsertText,DeleteText,ClientTimestamp
7630,Student1_Assign6_flukytester.py,NaN,0.0,NaN,NaN,1634606481580
28217,Student10_Assign10_Chessboard.py,NaN,0.0,NaN,NaN,1636738782004
28219,Student10_Assign10_blobber.py,NaN,0.0,NaN,NaN,1636738782013
28221,Student10_Assign10_main.py,NaN,0.0,NaN,NaN,1636738782005
28223,Student10_Assign10_task1.py,NaN,0.0,NaN,NaN,1636738782007
...,...,...,...,...,...,...
2077681,Student9_Assign9_task1.py,NaN,2409.0,NaN,NaN,1636140089288
2077683,Student9_Assign9_task1.py,NaN,1971.0,NaN,NaN,1636140089289
2080805,Student9_Assign9_task1.py,NaN,3803.0,NaN,NaN,1636150704353
2080814,Student9_Assign9_task1.py,NaN,4191.0,NaN,NaN,1636150710842
2080817,Student9_Assign9_task1.py,NaN,4359.0,NaN,NaN,1636150710842

In [5]:
to_drop = to_drop.Key.unique()
print(f"Bad Files: {len(to_drop)}")

Bad Files: 573

In [6]:
good_files = df[(~df.Key.isin(to_drop))]

counts = good_files.groupby("Key").count().sort_values(by="EditType", ascending=False)
to_keep = []
for row in counts.iloc:
    if ".txt" in row.name.lower():
        continue
    if "plan" in row.name.lower():
        continue
    if "starter" in row.name.lower():
        continue
        
    # only count tasks with over 25 edits
    if row.EditType < 25:
        continue

    to_keep.append(row.name)
good_files = good_files[good_files.Key.isin(to_keep)]

good_files

,Key,EditType,SourceLocation,InsertText,DeleteText,ClientTimestamp
281,Student1_Assign12_task1.py,Insert,0.0,"def main():\n baseList = list(range(1, 101)...",NaN,1638570621931
283,Student1_Assign12_task1.py,Insert,92.0,',NaN,1638570621971
285,Student1_Assign12_task1.py,Insert,94.0,',NaN,1638570622065
287,Student1_Assign12_task1.py,Insert,95.0,,NaN,1638570622369
289,Student1_Assign12_task1.py,Insert,170.0,,NaN,1638570625139
...,...,...,...,...,...,...
2088851,Student9_Assign9_test.py,Insert,243.0,F,NaN,1636155787631
2088853,Student9_Assign9_test.py,Insert,244.0,a,NaN,1636155787737
2088855,Student9_Assign9_test.py,Insert,245.0,l,NaN,1636155787941
2088857,Student9_Assign9_test.py,Insert,246.0,s,NaN,1636155788077
2088859,Student9_Assign9_test.py,Insert,247.0,e,NaN,1636155788223

In [7]:
good_files.groupby("Key").count().sort_values("EditType", ascending=False)[:25]

,EditType,SourceLocation,InsertText,DeleteText,ClientTimestamp
Key,,,,,
Student26_Assign7_chessboard.py,10914,10914,10914,10914,10914
Student26_Assign9_Task1.py,8268,8268,8268,8268,8268
Student22_Assign6_task2.py,8241,8241,8241,8241,8241
Student4_Assign6_task1.py,7489,7489,7489,7489,7489
Student30_Assign6_task1.py,7394,7394,7394,7394,7394
Student39_Assign6_Task1.py,7261,7261,7261,7261,7261
Student43_Assign8_pattern.py,6815,6815,6815,6815,6815
Student22_Assign6_task1.py,6680,6680,6680,6680,6680
Student42_Assign10_test.py,6644,6644,6644,6644,6644
Student39_Assign8_pattern.py,6266,6266,6266,6266,6266
Student26_Assign6_Task2.py,5915,5915,5915,5915,5915
Student38_Assign9_task1.py,5720,5720,5720,5720,5720
Student40_Assign6_task1.py,5622,5622,5622,5622,5622
Student10_Assign10_wordinator.py,5423,5423,5423,5423,5423
Student22_Assign7_chessboard.py,5331,5331,5331,5331,5331
Student21_Assign8_pattern.py,5090,5090,5090,5090,5090
Student24_Assign6_task1.py,5052,5052,5052,5052,5052
Student38_Assign8_pattern.py,4961,4961,4961,4961,4961
Student38_Assign7_task1.py,4909,4909,4909,4909,4909
Student7_Assign6_task1.py,4765,4765,4765,4765,4765
Student23_Assign8_pattern.py,4687,4687,4687,4687,4687
Student42_Assign9_task1.py,4676,4676,4676,4676,4676
Student12_Assign6_task1.py,4649,4649,4649,4649,4649
Student9_Assign6_task1.py,4630,4630,4630,4630,4630
Student8_Assign8_pattern.py,4602,4602,4602,4602,4602

In [8]:
out_files = good_files.replace("NaN", "")
out_files.SourceLocation = out_files.SourceLocation.astype(int)
out_files.to_csv("./app/src/main/resources/keystrokes_quoted.csv", quoting=csv.QUOTE_NONNUMERIC, index=False, header=True, quotechar='"')